:root {
  --product-color: #F35B04;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #171717;
}

html,
      body,
      body > div:first-child,
      div#__next,
      .ant-layout,
      div#__next > div {
        height: 100%;
      }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.input-row {
  margin-bottom: .5rem;
}

select, input {
  max-height: 58px;
}

.styles__Header-sc-1fn4imv-0 {
  width:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom;
  color:#fff;
  line-height:64px;
}

@media only screen and (max-width: 768px) {
  /* .justify-to-50 {
    padding-inline: 50px;
  } */
}

.ant-col.ant-col-10 {
  flex: 0 0 45.83333333%;
  max-width: 45.83333333%;
}

.ant-col.ant-col-10.ant-col-offset-6 {
  margin-left: 29.16666667%;
}

@media only screen and (max-width: 768px) {
  .row-center .ant-col {
    margin-inline-start: 0% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.ant-slider-disabled .ant-slider-track {
  background-color: var(--product-color) !important;
}

.ant-slider-disabled .ant-slider-handle, .ant-slider-disabled .ant-slider-dot {
  background-color: #171717;
  border-color: var(--product-color) !important;
}

a.ant-btn {
  padding-top: 15px !important;
}