html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #171717;
}

html,
      body,
      body > div:first-child,
      div#__next,
      .ant-layout,
      div#__next > div {
        height: 100%;
      }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.input-row {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .row-center .ant-col {
    margin-inline-start: 0% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
